* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container {
    background-color: antiquewhite;
    width: 200px;
    height: 80px;
    padding: 10px;
    border-radius: 10px;
}